    .notification{
        background: #fff;
        border-radius: 2px;
        margin: 10px;
    }
    
    .payed{
        background: greenyellow;
    }
    
    
    ul {
        margin: 0;
        height: 100vh;
        padding-bottom: 50px; 
        overflow-y: scroll;
    }
    ul li {
        overflow: hidden;
    }
