


<button (click)="openDialog()"> Add </button>
<div cdkDrop style="height: 500px; width: 500px;">
<div class="box" cdkDrag (cdkDragEnded)="onDragEnded($event)" >Drag me around!</div>
<div class="box" cdkDrag (cdkDragEnded)="onDragEnded($event)" >Drag me around!</div>
<div class="box" cdkDrag (cdkDragEnded)="onDragEnded($event)" >Drag me around!</div>
<div class="box" cdkDrag (cdkDragEnded)="onDragEnded($event)" >Drag me around!</div>
<div class="box" cdkDrag (cdkDragEnded)="onDragEnded($event)" >Drag me around!</div>
<div class="box" cdkDrag (cdkDragEnded)="onDragEnded($event)" >Drag me around!</div>
</div>