<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  [mode]="(isHandset$ | async) ? 'over' : 'side'"
  [opened]="!(isHandset$ | async)">
  
  <mat-nav-list>
    <p text-align="left"><a class="nav-link" routerLink="/dishes">Dishes</a></p>
    <p text-align="left"><a class="nav-link" routerLink="/notifications">Notifications</a></p>
    <p test-align="left"><a class="nav-link" routerLink="/tables-disposition">Tables</a></p>
  </mat-nav-list>
  </mat-sidenav>

<div class="example-sidenav-content">
  <button type="button" mat-button (click)="drawer.toggle()">
    Toggle sidenav
  </button>
</div>
<router-outlet></router-outlet>

</mat-sidenav-container>
