
<div class="grid-container">
  
  <div class="grid-100">
    <h1>
      Create Dish
    </h1>
  </div>
  
  <div class="grid-100">
    
    <div class="recipes">      
      <div class="grid-100 row controls">
        <div class="grid-30">
          <form [formGroup]="dishForm" novalidate>
            <label>
              Name:
              <input type="text" [formControl]="dishForm['name']">
            </label>
            <label>
              Description:
              <input type="text" [formControl]="dishForm['description']">
            </label>
            <label>
              Price:
              <input type="text" [formControl]="dishForm['price']">
            </label>
          </form>
        </div>
        <button (click)="goBack()">Cancel</button>
        <button (click)="store()">Save</button>
        
      </div>
    </div>
  </div>