<div class="grid-container">
  
  <div class="grid-100">
    <h1>
      My Dishes
    </h1>
  </div>

  <div class="grid-100">
    <div class="recipes">
      <button routerLink="/dish-create">Add</button>
        <div class="grid-30">
          <ul class="menu">
            <li *ngFor="let dish of dishes" class="dish" routerLink="/dish-detail/{{dish.id}}">
              <p>{{dish.name}}</p>
              <p>{{dish.description}}</p>
              <p class="price">{{dish.price}}</p>
            </li>
          </ul>
        </div>
      </div>
  </div>